.form-margin {

  padding: 0.5rem;
  margin-bottom: 1%;

}

.logotipo {
  margin-left: 45%;
  font: 1.2rem'Fira Sans', sans-serif;
}

.container{
  position: relative;
  bottom: 20;
  left: 30;
  right: 35;
  padding-bottom: 20px;

  }


.container-fluid {
  padding-top: 0px;
  padding-bottom: 70px;

  }


.bg-2 {
  background-color: rgb(145, 196, 145);
  color: #ffffff;
  opacity: 80%;
}

.bg-3 {
  background-color: #ffffff;
  color: black;
  opacity: 80%;

}

.bg-4 {
  background-color: #ffffff;
  color: black;
  opacity: 80%;

}


