<div class="logotipo">

  <img src="../../../../assets/images/CookingHut_logo.png" alt="CookingHut Logo" width="300" height="200">

</div>


<div class="container">
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div id="nav-home">
        <ul class="nav nav-tabs">
          <li>
            <h3>Nome da Receita Visualizada</h3>
          </li>
        </ul>

        <div class="infoReceita">
          <div class="card0">

        <table class="table">
          <thead>
           <tr>
              <th scope="col"><h4>Categoria </h4></th>
              <th scope="col"><h4>Dificuladade</h4></th>
              <th scope="col"><h4>Tempo de Preparação</h4></th>
              <th scope="col"><h4>Publicado em _______________</h4></th>
              <th scope="col"><h4>Por_________________ </h4></th>
              <th scope="col"><h4>Avalie Esta Receita </h4></th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </table>

        </div>
      </div>

      <div class="photoRecipe">
      <div class="card3">
        <img src="https://localhost:44313/recipeImages/638204654899381928.jpg" />

      </div>

    </div>



    <div class="conteudo">
      <div class="card1">
      <h1>INGREDIENTES</h1>
      <ul>
          <li>2 colheres (sopa) de azeite</li>
          <li>3 linguiças finas</li>
          <li>1 cebola</li>
          <li>1 pimentão vermelho</li>
          <li>2 dentes de alho</li>
          <li>1 colher (chá) de cominho</li>
          <li>2 xícaras de arroz cozido (pronto)</li>
          <li>2 xícaras de feijao vermelho (pronto)</li>
          <li>1/2 xícara de coentro picado</li>
          <li>2 ovos fritos</li>
      </ul>

  </div>
  <div class="card2">
      <h1>MODO DE PREPARO</h1>
      <ol>
          <li>Em uma panela adicione o azeite, as linguiças fatiadas e a cebola em tiras e refogue.</li>
          <li>Adicione o pimentão em tiras, o alho e tempere com cominho em pó.</li>
          <li>Em seguida adicione o arroz e o feijão cozidos, mexa delicadamente.</li>
          <li>Finalize com o ovo frito e o coentro.</li>
      </ol>
  </div>
</div>

