.form-margin {

  padding: 0.5rem;
  margin-bottom: 1%;

}

.logotipo {

  margin-left: 45%;
  font: 1.2rem'Fira Sans', sans-serif;

}


.container{
  position: relative;
  bottom: 20;
  left: 30;
  right: 35;
  padding-bottom: 20px;

  }


.container-fluid {
  padding-top: 0px;
  padding-bottom: 70px;

  }


  .bg-3 {
    background-color: #ffffff;
    color: black;
    opacity: 80%;

  }


  .conteudo{

    display: flex;
  }

  li {

    list-style-position: inside;
    line-height: 35px;
}

ul {
    margin-bottom: 40px;

}



.card0 {
  color:  rgb(75, 143, 105);
  text-align: left;
  width: 1100px;
  margin: auto;

}

th, td{
  padding: 10px;
  text-align: center;
  width: 120px;
  }

  th{
    font-weight: bold;
    }


  td{
  color: black;
  }


.card1 {
  text-align: left;
  width: 480px;
  margin: auto;
  padding: 30px;
  background-color: rgb(196, 221, 205);
  margin: 30px auto;
  border-radius: 5px;
  font-weight: 350;
  background-image: url("../../../../assets/images/saco_retro_card_recipes.png");
  background-position: bottom;
  background-position-x: right;
  background-size: 100px;
  background-repeat: no-repeat;
}

.card1 ul {
  counter-reset: item;
  list-style-type: none;
}


.table-hover{
width: 1100px;
height: 0.2px;


}

thead{
  color:  rgb(75, 143, 105);
  }


tbody{
  color: rgb(18, 19, 18);
  }

#stars{
  color: rgb(224, 214, 70);
}

#heart{
  color: rgb(218, 70, 70);
}

.card2 {
  text-align: left;
  width: 480px;
  margin: auto;
  padding: 30px;
  background-color: rgb(196, 221, 205);
  margin: 30px auto;
  border-radius: 5px;
  font-weight: 350;
  background-image: url("../../../../assets/images/batedeira_retro_card_recipe.png");
  background-position: bottom;
  background-position-x: right;
  background-size: 90px;
  background-repeat: no-repeat;
}


.card2 ol {
  counter-reset: item;
  list-style-type: none;
}


h1 {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color:  rgb(75, 143, 105);
  margin-bottom: 20px;
}


.card3 {
  width: 1100px;
  min-height: 300px;
  margin: auto;
  padding: 10px;
  margin: 30px auto;
  border-radius: 5px;
  font-weight: 300;
  align-items: center;
}

.card3 img {
  max-width: 600px;
  height: 450px;
}



.card4 {
  width: 1000px;
  min-height: 300px;
  margin: auto;
  padding: 30px;
  margin: 30px auto;
  border-radius: 5px;
  font-weight: 300;
  align-items: center;
  background-color: rgb(196, 221, 205);
}


textarea {
  resize: none;
  margin: 30px auto;
}

.card4 ul {
  counter-reset: item;
  list-style-type: none;
  display: flex;
  align-items: center;


}
.card4 li {
  color: rgb(88, 138, 110);
  font-weight: bold;
  padding-right: 30px;

}


.card5 {
  width: 1000px;
  min-height: 300px;
  margin: auto;
  padding: 30px;
  margin: 30px auto;
  border-radius: 5px;
  font-weight: 300;
  align-items: center;
  background-color: rgb(196, 221, 205);
}


textarea {
  resize: none;
  margin: 30px auto;
}

.card5 ul {
  counter-reset: item;
  list-style-type: none;
  display: flex;
  align-items: center;


}
.card5 li {
  color: rgb(88, 138, 110);
  font-weight: bold;
  padding-right: 30px;

}
