<div class="logotipo">

  <img src="../../../../assets/images/CookingHut_logo.png" alt="CookingHut Logo" width="300" height="200">

</div>


<div class="container">
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div id="nav-home">
        <ul class="nav nav-tabs">
          <li>
            <h3>{{ this.recipe?.name }}</h3>
          </li>
        </ul>

        <div class="infoReceita">
          <div class="card0">

        <table class="table">
          <thead>
           <tr>
              <th scope="col"><h4>Categoria </h4></th>
              <th scope="col"><h4>Dificuladade</h4></th>
              <th scope="col"><h4>Tempo de Preparação</h4></th>
              <th scope="col"><h4>Publicado em</h4></th>
              <th scope="col"><h4>Por </h4></th>
              <th scope="col"><h4>Avalie Esta Receita </h4></th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>{{ this.category?.name }}</td>
              <td>{{ this.recipe?.difficulty }}</td>
              <td>{{ this.recipe?.executionTime }}</td>
              <td>{{ this.recipe?.creationDate }}</td>
              <td>{{ this.recipeUserName }}</td>
              <td>*****</td>
          </tr>
      </table>

        </div>
      </div>

      <div class="photoRecipe">
      <div class="card3">
        <img src="https://localhost:44313/recipeImages/{{ this.recipe?.image }}" />

      </div>

    </div>



    <div class="conteudo">
      <div class="card1">
      <h1>INGREDIENTES</h1>
      <ul>
          <li *ngFor="let recipeIngredient of this.recipeIngredients">{{ recipeIngredient?.ingredient?.name }}</li>
      </ul>

  </div>
  <div class="card2">
      <h1>MODO DE PREPARO</h1>
      <ol>
          <li *ngFor="let descriptionLine of this.recipeDescription; let i = index">{{ descriptionLine }}</li>
      </ol>
  </div>
</div>

