
<div class="logotipo">

  <img src="../../../../assets/images/CookingHut_logo.png" alt="CookingHut Logo" width="300" height="200">


 <h4>Bem-Vindo ao Site Número 1 de Receitas!</h4>

</div>


  <div class="container">
  <div class="container-fluid bg-3 text-left">
    <div class="row">
      <div id="nav-home">
        <ul class="nav nav-tabs">
          <li><h2>Novidades da Semana</h2></li>
        </ul>
        <br>

      <div class="col-sm-4">
        <h4>Semifrio de Maracujá</h4>
        <img src="./../../../assets/images/Semifrio-de-maracuja.jpg" class="img-responsive" style="width:100%" alt="Image">
        <br>
        <p>Esta sobremesa fica pronta em 45 minutos e vai conquistar o paladar de todos aí em casa.</p>

      </div>
      <div class="col-sm-4">
        <h4>Coelho Estufado</h4>
        <img src="./../../../assets/images/Coelho-estufado-com-batata-frita.jpg"  class="img-responsive" style="width:100%" alt="Image">
        <br>
        <p>Uma receita de Coelho estufado nunca é de mais e esta receita de carne é de comer e chorar por mais. </p>
      </div>


      <div class="col-sm-4">
        <h4>Molho Bechamel Caseiro</h4>
        <img src="./../../../assets/images/Bechamel-Medium.jpg.webp"  class="img-responsive" style="width:100%" alt="Image"> <br>
        <p>Molho Bechamel Caseiro. Molho indispensável na culinária, tem múltiplas aplicações e derivados, sendo óptimo auxiliar na cozinha.</p>
      </div>
    </div>
  </div>

      <div id="nav-home" >
       <ul class="nav nav-tabs">
          <li><h2>Mais Vistas</h2></li>
      </ul>
        <br>
      <div class="row">
        <div class="col-sm-4">
          <h4>Bacalhau com Crosta de Amêndoa</h4>
          <img src="./../../../assets/images/Beirao-Honra-53-696x464.jpg.webp" class="img-responsive" style="width:100%" alt="Image">
          <br>
          <p>Uma receita fácil, tradicional e deliciosa para partilhar com os que mais ama.</p>

        </div>
        <div class="col-sm-4">
          <h4>Queijadas de Cenoura</h4>
          <img src="./../../../assets/images/queijadas-de-cenoura.jpg"  class="img-responsive" style="width:100%" alt="Image">
          <br>
          <p>Sabemos que não vai conseguir resistir a estas pequenas doçuras. Por isso, aqui vai a receita: queijadas de cenoura! </p>
        </div>

        <div class="col-sm-4">
          <h4>Natas do Céu</h4>
          <img src="./../../../assets/images/Natas-do-céu.jpg"  class="img-responsive" style="width:100%" alt="Image"> <br>
          <p>Directamente do paraíso para a terra, aqui está uma receita de natas do céu fantástica para preparar aí em casa!</p>
      </div>
    </div>
  </div>

      <div id="nav-home" >
        <ul class="nav nav-tabs">
           <li><h2>Outras Receitas</h2></li>
       </ul>
         <br>
       <div class="row">
         <div class="col-sm-4">
           <h4>Pão com Sementes</h4>
           <img src="./../../../assets/images/Pao-de-sementes.jpg" class="img-responsive" style="width:100%" alt="Image">
           <br>
           <p>Esta receita de pão com sementes vai ser um autêntico sucesso à mesa. Surpreenda a família e amigos com esta receita deliciosa!</p>

         </div>
         <div class="col-sm-4">
           <h4>Arroz de Polvo no Forno</h4>
           <img src="./../../../assets/images/Arroz-de-polvo.jpg"  class="img-responsive" style="width:100%" alt="Image">
           <br>
           <p>Os portugueses adoram arroz de polvo. Ninguém aí em casa vai conseguir resistir! </p>
         </div>

         <div class="col-sm-4">
           <h4>Carne à Brás</h4>
           <img src="./../../../assets/images/Carne-a-bras.jpg"  class="img-responsive" style="width:100%" alt="Image"> <br>
           <p>Se não resiste a um prato de carne cheio de sabor, esta receita simples de carne à Brás é obrigatória fazer parte da sua ementa.</p>
         </div>

         <div class="col-sm-4">
          <h4>Mojito Fresco de Verão</h4>
          <img src="./../../../assets/images/Mojito-Mocktail.jpg" class="img-responsive" style="width:100%" alt="Image"> <br>
          <p>Refresque-se nos dias de maior calor com esta deliciosa receita de Mojito. Pronta em 5 minutos e muito fácil de fazer.</p>
        </div>

        <div class="col-sm-4">
          <h4>Empadão de Atum Fácil</h4>
          <img src="./../../../assets/images/empadao-de-atum.jpg"  class="img-responsive" style="width:100%" alt="Image"> <br>
          <p>Uma receita de Empadão de atum fácil para encher o seu coração! Com esta receita os seus cozinhados no forno irão passar a ser a sua especialidade!</p>
        </div>

        <div class="col-sm-4">
          <h4>Mousse de Menta</h4>
          <img src="./../../../assets/images/Mousse-de-menta.jpg"  class="img-responsive" style="width:100%" alt="Image"> <br>
          <p>Basta ter chocolate negro, natas, essência de menta, açúcar e queijo-creme e já pode meter as mãos à obra e preparar esta sobremesa fácil!</p>
        </div>
         </div>
       </div>
     </div>


  <div class="container-fluid bg-2 text-center">
    <h3>What Am I?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-search"></span> Search
    </a>
  </div>



