
<div class="logotipo">

  <img src="../../../../assets/images/CookingHut_logo.png" alt="CookingHut Logo" width="300" height="200">


 <h4>Bem-Vindo ao Site Número 1 de Receitas!</h4>

</div>



  <div class="container">
    <h3>Mais Populares Desta Semana</h3>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img src="../../../assets/images/Semifrio-de-maracuja.jpg" width="460" height="345">
          <div class="carousel-caption">
            <h3>Semifrio de maracujá</h3>
            <p>Esta sobremesa fica pronta em 45 minutos e vai conquistar o paladar de todos aí em casa.
              <br>
              Bom Apetite!
            </p>
          </div>
        </div>

        <div class="item">
          <img src="img_chania2.jpg" alt="Chania" width="460" height="345">
          <div class="carousel-caption">
            <h3>Chania</h3>
            <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
          </div>
        </div>

        <div class="item">
          <img src="img_flower.jpg" alt="Flower" width="460" height="345">
          <div class="carousel-caption">
            <h3>Flowers</h3>
            <p>Beautiful flowers in Kolymbari, Crete.</p>
          </div>
        </div>


      </div>

      <!-- controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Próxima</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
    </div>
  </div>


  <div class="container-fluid bg-3 text-center">
    <h3>Novidades</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="birds1.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="birds2.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <img src="birds3.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div>


  <div class="container-fluid bg-2 text-center">
    <h3>What Am I?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-search"></span> Search
    </a>
  </div>



