.form-margin {

  padding: 0.5rem;
  margin-bottom: 1%;

}

.logotipo {
  margin-left: 45%;
  font: 1.2rem'Fira Sans', sans-serif;
}

.container{
  position: relative;
  bottom: 20;
  left: 30;
  right: 35;
  padding-bottom: 20px;

  }


.carousel-inner img {
  filter:opacity(70%);
  width: 100%; /* Set width to 100% */
  margin: auto;
  text-align: center;
}
.carousel-caption h3 {
  color: #fcfffe !important;

}
.carousel-caption p {
  color: #020202 !important;


  }

@media (max-width: 300) {
  .carousel-caption {

    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}




.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;

  }


.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
  opacity: 50%;
}

.bg-3 {
  background-color: #ffffff;
  color: black;
  opacity: 50%;
}



