<!DOCTYPE html>

<nav class="navbar navbar-inverse">

  <div class="container-fluid ">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CookingHut</a>
    </div>

    <ul class="nav navbar-nav">

      <li class="navbar-header">
        <a [routerLinkActive]="['router-active', 'active']" [routerLink]="['home']">Home</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Receitas <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="receitas?categoryId={{category.id}}" *ngFor="let category of categories">{{ category.name }}</a></li>
        </ul>
      </li>
      <li><a href="#">Mais Populares</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li *ngIf="!isUserLogged()">
        <a [routerLinkActive]="['router-active', 'active']" [routerLink]="['registo']"><span
            class="glyphicon glyphicon-user"></span> Registo</a>
      </li>

      <li *ngIf="!isUserLogged()">
        <a [routerLinkActive]="['router-active', 'active']" [routerLink]="['login']"><span
            class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>

      <li *ngIf="isUserLogged()">
        <a [routerLinkActive]="['router-active', 'active']" [routerLink]="['user']"><span
            class="glyphicon glyphicon-user"></span>{{ getUserNameToDisplay() }}</a>
      </li>
      <li *ngIf="isUserLogged()">
        <a [routerLink]="" (click)="logout()"><span
            class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>

    <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Procurar" name="search" />
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>

  <!-- <footer class="footer">

    <p>© CookingHut. Todos os Direitos Reservados </p>

</footer> -->


<div id="pageContent" class="content">
  <router-outlet></router-outlet>
</div>
