.form-margin {

  padding: 0.5rem;
  margin-bottom: 1%;

}

.logotipo {
  margin-left: 45%;
  font: 1.2rem'Fira Sans', sans-serif;
}

#forgotPassword {

text-align: right;
font: 1.2rem'Fira Sans', sans-serif;

}


.linkRegisto {

  font: 1.2rem'Fira Sans', sans-serif;

}

#loginForm {

  max-width: 300px;
  margin-left: 40%;

}

.manterlogado
{
  font: 1.4rem'Fira Sans', sans-serif;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    display: flex;
    width: 400px;
}
.container{
  position: relative;
  bottom: 20;
  left: 30;
  right: 35;
  padding-bottom: 20px;

  }


.container-fluid {
  padding-top: 0px;
  padding-bottom: 70px;

  }


  .bg-3 {
    background-color: #ffffff;
    color: black;
    opacity: 80%;

  }
