<div class="logotipo">

  <img src="../../../../assets/images/CookingHut_logo.png" alt="CookingHut Logo" width="300" height="200">

  <h5>Faça Login Com o Seu Email e Password.</h5>

</div>


<form [formGroup]="form" (ngSubmit)="login()" id="loginForm" class="row g-3">

  <div class="form-group form-margin ">
    <label class="form-label">Email</label>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-envelope" style="background:transparent;border:none"></i>
      </span>
      <input type="text" formControlName="email" class="form-control" placeholder="exemplo@exemplo.com" required />
    </div>
  </div>

  <div class="form-group form-margin ">
    <label class="form-label">Password</label>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-lock" style="background:transparent;border:none"></i>
      </span>
      <input type="password" formControlName="password" class="form-control" placeholder="********" required />
    </div>
  </div>

  <div class="content">

    <div id="forgotPassword">
      <a href="https://www.freecodecamp.org/">Esqueceu a sua Password?</a>
    </div>

    <p>
      <input type="checkbox" name="manterlogado" id="manterlogado" />
      <label class="manterlogado"> Manter Sessão Iniciada</label>
    </p>
  </div>

  <div class="form-group form-margin">
    <button type="submit" [disabled]="!form.valid" style="width: 300px; height: 35px">Iniciar Sessão</button>
  </div>

  <br>

  <div>

    <p class="linkRegisto">
      Não tem conta?
      <a href="registo">Registe-se Aqui</a>
    </p>

  </div>

</form>

<div class="errorLogin">
  <p-toast></p-toast>
</div>
