<div class="container">
  <div class="container-fluid bg-3 text-left">
    <div class="row">
      <div id="nav-home">
        <ul class="nav nav-tabs">
          <li>
          </li>
        </ul>

        <h3>{{ this.getTitle() }}</h3>

        <div class="col-sm-4">
          <ul>

            <li>
              <h4>Nome da Receita</h4>
              <img src="./../../../assets/images/Semifrio-de-maracuja.jpg" class="img-responsive" style="width:100%"
                alt="Image">
              <br>
            </li>

            <li>
              <h4>Nome da Receita</h4>
              <img src="./../../../assets/images/Coelho-estufado-com-batata-frita.jpg" class="img-responsive"
                style="width:100%" alt="Image">
              <br>
            </li>


            <li>
              <h4>Nome da Receita</h4>
              <img src="./../../../assets/images/Bechamel-Medium.jpg.webp" class="img-responsive" style="width:100%"
                alt="Image"> <br>
            </li>

          </ul>
        </div>
      </div>
