.form-margin {

  padding: 0.5rem;

}

#recipeForm{
  max-width: 350px;
 line-height: 30px;

}


textarea {
  resize: none;
  width: 700px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


button{

  margin: 0.4rem;
  display: inline-block;
 }


