
<form class="recipeForm">
  <div class="form-group form-margin ">
  <label class="form-label">Titulo</label>
  <div class="input-group">
    <span class="input-group-addon">
      <i style="background:transparent;border:none"></i>
    </span>
    <input type="text" formControlName="title" class="form-control" required />

  </div>
</div>


<div class="form-group form-margin">
  <label class="form-label ">Categoria</label>
  <div class="input-group ">
    <select class="form-select" style="width: 350px; height: 35px">
      <option selected>Selecionar Categoria</option>
      <option value="1">Entradas e Petiscos</option>
      <option value="2">Sopas</option>
      <option value="3">Carne</option>
      <option value="4">Peixe e Marisco</option>
      <option value="5">Acompanhamentos</option>
      <option value="6">Doces e Sobremesas</option>
      <option value="7">Vegetariana</option>
      <option value="8">Dieta e Light</option>
      <option value="9">Pão, Broas e Bolas</option>
      <option value="10">Bebidas</option>
    </select>
  </div>
</div>


<div class="form-group form-margin ">
<label class="form-label">Ingredientes</label>
<div class="input-group">
  <span class="input-group-addon">
    <i style="background:transparent;border:none"></i>
  </span>
  <input type="text" formControlName="ingredients" class="form-control" required/>
</div>
</div>

<div class="form-group form-margin ">
  <label class="form-label">Tempo de Execuçao</label>
  <div class="input-group">
    <span class="input-group-addon">
      <i style="background:transparent;border:none"></i>
    </span>
    <input type="time" formControlName="executionTime" class="form-control" required />
  </div>
</div>

<div class="form-group form-margin ">
  <label class="form-label">Descrição</label>
  <div class="input-group">
    <span class="input-group-addon">
      <i style="background:transparent;border:none"></i>
    </span>
    <textarea formControlName="description" class="form-control"  rows="10" cols=""></textarea>
  </div>
  <br>

  <div class="form-group form-margin ">
    <label class="form-label">Imagem</label>
    <div class="input-group">
      <input type="hidden" name="MAX_FILE_SIZE" value="100" />
      <input name="file" type="file" />
    </div>
  </div>
</div>
</form>
<div>
 <input type="submit" value="Publicar Receita!"style="width: 350px; height: 35px">
</div>
